In [98]:
import pandas as pd

In [99]:
person = {
    "first": "Corey",
    "last" : "Shafer",
    "email": "coreyMschafer@gmail.com"
}

In [100]:
people = {
    "first" : ["Corey"],
    "last": ["Schafar"],
    "email" : ["CoreyMschafer@mail.com"]
}

In [101]:
people = {
    "first": ["corey", "Jane", "John"],
    "last" : ["Schafer", "Doe", "Dloe"],
    "email": ["CoreyMschafer@mail.com", "test2@mail.com", "test3@mail.com"]
}

In [102]:
people

{'first': ['corey', 'Jane', 'John'],
 'last': ['Schafer', 'Doe', 'Dloe'],
 'email': ['CoreyMschafer@mail.com', 'test2@mail.com', 'test3@mail.com']}

In [103]:
df = pd.DataFrame(people)
df

   first     last                   email
0  corey  Schafer  CoreyMschafer@mail.com
1   Jane      Doe          test2@mail.com
2   John     Dloe          test3@mail.com

In [104]:
df['email']

0    CoreyMschafer@mail.com
1            test2@mail.com
2            test3@mail.com
Name: email, dtype: object

In [105]:
df.email

0    CoreyMschafer@mail.com
1            test2@mail.com
2            test3@mail.com
Name: email, dtype: object

In [106]:
df.email[0]

'CoreyMschafer@mail.com'

In [107]:
df[['email','last']]

                    email     last
0  CoreyMschafer@mail.com  Schafer
1          test2@mail.com      Doe
2          test3@mail.com     Dloe

In [108]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [109]:
df.iloc[0]

first                     corey
last                    Schafer
email    CoreyMschafer@mail.com
Name: 0, dtype: object

In [110]:
series_age = pd.Series(['3-3-2019', '2-1-2014', '4-4-2013'])

In [111]:
series_age

0    3-3-2019
1    2-1-2014
2    4-4-2013
dtype: object

In [112]:
df_age = pd.DataFrame(series_age)
df_age.rename(columns = {0: "date"}, inplace=True)

In [113]:
df_age

       date
0  3-3-2019
1  2-1-2014
2  4-4-2013

In [114]:
df = pd.concat([df, df_age], axis=1)

In [115]:
df

   first     last                   email      date
0  corey  Schafer  CoreyMschafer@mail.com  3-3-2019
1   Jane      Doe          test2@mail.com  2-1-2014
2   John     Dloe          test3@mail.com  4-4-2013

In [116]:
df[['first', 'date']]

   first      date
0  corey  3-3-2019
1   Jane  2-1-2014
2   John  4-4-2013

In [117]:
df.columns

Index(['first', 'last', 'email', 'date'], dtype='object')

In [118]:
df.iloc[[0, 1]]

   first     last                   email      date
0  corey  Schafer  CoreyMschafer@mail.com  3-3-2019
1   Jane      Doe          test2@mail.com  2-1-2014

In [119]:
df.iloc[[0,1], 2]

0    CoreyMschafer@mail.com
1            test2@mail.com
Name: email, dtype: object

In [120]:
df.loc[0]

first                     corey
last                    Schafer
email    CoreyMschafer@mail.com
date                   3-3-2019
Name: 0, dtype: object

In [121]:
df.loc[[0, 1], ['email', 'date']]

                    email      date
0  CoreyMschafer@mail.com  3-3-2019
1          test2@mail.com  2-1-2014

In [122]:
 df

   first     last                   email      date
0  corey  Schafer  CoreyMschafer@mail.com  3-3-2019
1   Jane      Doe          test2@mail.com  2-1-2014
2   John     Dloe          test3@mail.com  4-4-2013