In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["corey", "Jane", "John"],
    "last" : ["Schafer", "Doe", "Dloe"],
    "email": ["CoreyMschafer@mail.com", "test2@mail.com", "test3@mail.com"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                   email
0  corey  Schafer  CoreyMschafer@mail.com
1   Jane      Doe          test2@mail.com
2   John     Dloe          test3@mail.com

In [7]:
df.set_index('email', inplace=True)

In [8]:
df

                        first     last
email
CoreyMschafer@mail.com  corey  Schafer
test2@mail.com           Jane      Doe
test3@mail.com           John     Dloe

In [9]:
df.index

Index(['CoreyMschafer@mail.com', 'test2@mail.com', 'test3@mail.com'], dtype='object', name='email')

In [10]:
df.loc['CoreyMschafer@mail.com']

first      corey
last     Schafer
Name: CoreyMschafer@mail.com, dtype: object

In [11]:
 df.reset_index(inplace=True)

In [12]:
df

                    email  first     last
0  CoreyMschafer@mail.com  corey  Schafer
1          test2@mail.com   Jane      Doe
2          test3@mail.com   John     Dloe